<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022633745046-kdfk1b8n0jb121h3sqsih87fqth9a98t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022633745046-kdfk1b8n0jb121h3sqsih87fqth9a98t</string>
	<key>API_KEY</key>
	<string>AIzaSyCG7o6tE9jCZDuM8DBYQXMettarjwZant8</string>
	<key>GCM_SENDER_ID</key>
	<string>1022633745046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icloud.kaitokudou2468110921.alcon</string>
	<key>PROJECT_ID</key>
	<string>alcon-56fdc</string>
	<key>STORAGE_BUCKET</key>
	<string>alcon-56fdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022633745046:ios:a1d5d9b21e8e473e5b80b7</string>
</dict>
</plist>